</div>
<!--/container-->


<!-- jQuery -->
<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {

        var table = $('#example').DataTable({
            responsive: true
        })
            .columns.adjust()
            .responsive.recalc();
    });
</script>


<!--Show/hide mobile menu-->
<script>
    const button = document.querySelector('#menu-button'); // Hamburger Icon
    const closeButton = document.querySelector('#menu-close-button')
    const menu = document.querySelector('#mobile-menu'); // Menu

    const toggle = () => {
        button.classList.toggle('hidden');
        button.classList.toggle('block');

        closeButton.classList.toggle('hidden');
        closeButton.classList.toggle('block');

        menu.classList.toggle('hidden');
    };

    button.addEventListener('click', toggle);
    closeButton.addEventListener('click', toggle);
</script>

</body>

</html>
