</div>
<!--/container-->

<!--Show/hide mobile menu-->
<script>
    const button = document.querySelector('#menu-button'); // Hamburger Icon
    const closeButton = document.querySelector('#menu-close-button')
    const menu = document.querySelector('#mobile-menu'); // Menu

    const toggle = () => {
        button.classList.toggle('hidden');
        button.classList.toggle('block');

        closeButton.classList.toggle('hidden');
        closeButton.classList.toggle('block');

        menu.classList.toggle('hidden');
    };

    button.addEventListener('click', toggle);
    closeButton.addEventListener('click', toggle);
</script>

</body>

</html>
