<html lang="en">
<head>
    <title>Toxic News</title>


    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">

        $(document).ready(function () {
            $('#table').DataTable({
                order: [[1, 'asc']],
            });
        });

    </script>
</head>
<body>
<table id="table" class="display">
    <thead>
    <tr>
        <th>Name</th>
        <th>Toxicity</th>
        <th>#Headlines</th>
    </tr>
    </thead>
    <tbody>
    {% for item in rows %}
    <tr>
        <td>{{ item._id }}</td>
        <td>{{ item.toxicityAvg }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
